*{
    font-family: Arial, Helvetica, sans-serif;
    }
table {
        border: 2px solid #000;
        border-collapse: collapse;
        margin: 0px auto;
        margin-top: 100px;
    }
    td {
        border: 1px solid #000;
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        cursor: pointer;
    }
    #numeros{
        background-color: #e0e0e0;
    }
    td:hover {
        background-color: #f0f0f0;
    }