* {
    font-family: Arial;
}

#data-container table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 10px;
    margin-bottom: 30px;
}

#id, #tel {
    text-align: center;
}

#data-container th, td {
    border: 1px solid black;
    padding: 10px;
}

#data-container th {
    background-color: #a7a5a5;
    color: darkblue;
    font-size: large;
}

h1 {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 25px;
    background-color: #a7a5a5;
    text-align: center;
    color: darkblue;
}