*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px;
}

h1 em {
    clear: left;
}

header nav {
    float: right;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}