* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.group {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 25px;
}

header {
    width: 100%;
    padding: 20px;
}

.logo {
    float: left;
}

h1 em {
    display: block;
}

header nav {
    float: right;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}