*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    overflow: auto;
}

header img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

header h1{
    clear: left;
    float: left;
    width: auto;
    white-space: nowrap;
    margin-top: 5px;
}

header input[type="search"]{
    float: right;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}

nav{
    background-color: #add8e6;
    padding: 10px 20px;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.articulos{
    width: 100%;
    display: flex;
    flex-grow: 1;
}

main{
    width: 70%;
    padding: 20px;
    background-color: #fff3aa;
    box-sizing: border-box;
}

aside{
    width: 30%;
    padding: 20px;
    background-color: #aaffff;
    box-sizing: border-box;
}

article, aside section{
    margin-bottom: 25px;
}

h2, h3{
    margin-bottom: 10px;
}

footer{
    background-color: gray;
    color: white;
    padding: 10px;
    
}