.container {
  grid-template-columns: repeat(auto-fill, 100px);
  /*grid-template-columns: repeat(auto-fit, 100px);*/

  width: 90%;

  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  
  width:5%;
  grid-auto-rows: 150px;
}

.item {
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font: serif 30px;
  background-color: orangered;

  &--1 {
    background-color: orangered;
  }
  &--2 {
    background-color: yellowgreen;
  }
  &--3 {
    background-color: blueviolet;
  }
  &--4 {
    background-color: palevioletred;
  }
  &--5 {
    background-color: royalblue;
  }
  &--6 {
    background-color: goldenrod;
  }
  &--7 {
    background-color: crimson;
  }
  &--8 {
    background-color: darkslategray;
  }
}